body{
	font-family: Verdana;

	background-image: url(https://www.teahub.io/photos/full/71-716919_windows-xp-background-meme-4-data-src-gorgerous.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;}	

h1 {
	text-decoration: underline;
}

#accesshere {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	width: 250px;

	
}

li a:link{
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
}
li a:visited{
	color: black;
}
li a:hover{
	background-color: rgb(79, 92, 107);
	color: white;
}


#describe{
	position: absolute;
	padding-top: 15px;
	left: 50px;
	right: 300px;

}

.pic{
	border: 2px solid black;
	margin: 10px;
	margin-left: 40px;
	padding: 2px;

}

#shopee{
	margin-top: 100px;
	
}
	
footer{
	position: relative;
	top: 100px;
	padding: 5px; 
	text-align: center; 	font-size: 15px; 
	
	border-top-style: none; 
	clear:both;
}